@model IList<ProductModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(ViewBag.cats is IList<CatalogModel> catalogi){
<ul>
    <dl><a class="@(0 == ViewBag.catid ? "btn btn-success" : "btn btn-primary")" href=@Url.Action("Index", new {q=ViewBag.Q})>All Catalogs</a></dl>
    @foreach(var c in catalogi){
        <dl><a class="@(c.Id == ViewBag.catid ? "btn btn-success" : "btn btn-primary")" href=@Url.Action("Index", new {q=ViewBag.Q, catid=c.Id})>@c.Title</a></dl>
    }
</ul>
}

<form>
<table class="table">
<th>
    <td></td><td><input name="q" value="@ViewBag.Q"></td><td></td><td>@Html.ActionLink("Dodaj","Add", new {catid=ViewBag.catid}, new {Class="btn btn-success"})</td>
</th>    
@foreach(var m in Model){
    <tr><td>@m.Id</td><td>@m.Title</td><td>@m.Description</td><td>@m.Catalog?.Title</td><td>
        @Html.ActionLink("Usun","Delete", new {id=m.Id})
        </td></tr>
}
</table>
</form>
